<h2>Template: <small>Dinamicos</small></h2>
<hr>
    
<form   (ngSubmit)="guardar()" 
        autocomplete="off" 
        #miFormulario="ngForm">
    <!-- Nombre -->
    <div class="mb-3 row">
        <label  for="" 
                class="col-sm-3 col-form-label">
            Nombre
        </label>
        <div class="col-sm-9">
            <input  type="text"
                    class="form-control"
                    [ngModel] = "persona.nombre"
                    name="nombre"
                    placeholder="Nombre De La Persona"
                    required>
            <span   *ngIf="miFormulario.controls.nombre?.errors && miFormulario.controls.nombre?.touched"
                    class="form-text text-danger">
                *Debes De Colocar Un Nombre
            </span>
        </div>
    </div>
    
    <!-- Group -->
    <div class="mb-3 row">
        <label  for="" 
                class="col-sm-3 col-form-label">
            Agregar
        </label>
        
        <div class="col-sm-9">
            <div class="input-group">
                <input  type="text"
                        class="form-control"
                        name="agregar"
                        [(ngModel)]="nuevoJuego"
                        name="nuevoJuego">
                        
                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="agregar()">
                    Agregar
                </button>
            </div>
        </div>
    </div>
        
        <!-- Favorito -->
        <div class="mb-3 row">
            <label  for="" 
                    class="col-sm-3 col-form-label">
                Favorito
            </label>
            <div class="col-sm-9">
                <div    class="input-group mb-1"
                        *ngFor="let juego of persona.favorito; let i = index">
                    <input  
                            class="form-control"
                            [(ngModel)]="juego.nombre"
                            name="favorito_{{ i }}">
                            
                    <button class="btn btn-outline-danger"
                            type="button"
                            (click) = "eliminar(i)">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
        
    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    [disabled] = "miFormulario.invalid"
                    (click) = "guardar()">
                Guardar
            </button>
        </div>
    </div>
</form>


<span>Persona</span>
<pre> {{persona | json}} </pre>